<div>
  <div class="container animate__animated animate__slideInUp">
    <h1 class="text-quaternary text-center my-5 fw-bold">Nuestros Suscriptores</h1>
    <div class="card">
        <div class="mx-5 my-4">
            <table class="table table-striped table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">Nombre(s)</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Fecha Suscripción</th>
                    <th scope="col">País de Origen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-primary" *ngFor="let suscriptor of Suscriptores">
                    <th scope="row">{{suscriptor.nombres}}</th>
                    <td>{{suscriptor.apellidos}}</td>
                    <td>{{suscriptor.nacimiento}}</td>
                    <td>{{suscriptor.suscripcion}}</td>
                    <td>{{suscriptor.pais}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
</div>